*{
margin: 0px;
padding: 2px;
}
header
{
background-color: rgba(117, 119, 119, 0.795);
width: 100vw;
height: 95px;

}
.titulo{
text-align: center;
color: antiquewhite;
}
.sub{
    text-align: center;
    color: antiquewhite;
}

.normal{
background-color: white;
height: 95px;

color: black;
text-align: center;
}
.fixed{
height: 95px;
text-align: center;

}
section#img01{
    background-image: url(meu-primeiro-gato.jpg);
    height: 95px;
  position: relative;
 display: flex;

}

footer{

color: white;
background-color: black;
}